version: "3.9"

services:
  mongo:
    image: mongo
    container_name: mongo
    ports:
      - "27017:27017"

  api:
    build: .
    container_name: task-api
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - mongo